.order-summary {
  width: 80%;
  margin: 0 auto;
  font-family: inherit;
  padding: 2rem;
}

.order-item {
  display: flex;
  box-sizing: border-box;
  margin: 0.5rem 0;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.8rem;
}

.item-image {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item-details {
  padding: 10px;
}

.pay-btn {
  background-color: var(--primary);
  width: 100%;
  border: none;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 2rem;
  font-family: inherit;
}