
<svg id="burger-loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70">
    <g id="burger">
        <rect id="bottom-bun" x="15" y="45" rx="15" ry="10" width="70" height="20" style="fill:#D2691E;"/>
        <ellipse id="meat" cx="50" cy="40" rx="30" ry="15" style="fill:#8B4513;" />
        <ellipse id="lettuce" cx="50" cy="30" rx="30" ry="10" style="fill:#228B22;" />
        <ellipse id="tomato" cx="50" cy="25" rx="25" ry="5" style="fill:#FF6347;" />
        <rect id="top-bun" x="15" y="5" rx="15" ry="10" width="70" height="20" style="fill:#D2691E;"/>
    </g>
</svg>