html, body, h1, h2, h3, div, span, label {
    margin: 0;
    padding: 0;
    border: 0;
    font:inherit;
    vertical-align: baseline;
}

:root {
    --white: #FFFFFF;
    --yellow: #FFFF00;
    --primary: #262638;
    --bg-primary: #F5F5F5;
    --bg-secondary: #FFFFFF;
    --neutral: #A8A8C8;
    --accent: rgba(38, 38, 56, 0.85);
}
