:host {
    display: block;
    position: relative;
    padding-bottom: 7rem;
}

.categories{
    position: sticky;
    top: 0px;
    background-color: var(--bg-secondary);
}

.products {
   
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fill, max(152px));
    justify-content: center;

    & ~ .products{
        padding-top: 1.3rem;
    }
}

.order {
    position: fixed;
    bottom: 2rem;
    width: 90%;
    left: 5%;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.125rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    border-radius: 0.62rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-family: inherit;
}